@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MerriweatherSans;
  src: url('../public/MerriweatherSans-VariableFont_wght.ttf');
}

:root {
  --primary: #2c75fc;
  --primary-hover: #77a8ff;

  --background: #101118;
  --surface: #181f33;
  --surface-elevated: #121b2f;

  --text: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;

  --border: #24324d;
  --border-hover: #334155;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: MerriweatherSans, 'Segoe UI' !important;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  @apply shadow-border rounded-md shadow-inner;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-border rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-border-hover;
}

.btn-primary {
  @apply bg-primary text-text rounded-md px-2 py-1 font-semibold;
}

/* BREAKPOINTS */
/* more than 1200px */
@media (min-width: 2000px) {
  html {
    font-size: 62.5%;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 54%;
  }
}

/* 979px */
@media (max-width: 979px) {
  html {
    font-size: 50%;
  }
}

/* 768px */
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

/* 480px */
@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
}
