.container {
  grid-template-rows: 1fr auto 1fr;
  animation: 3.5s container-animation ease-in-out;
}

@keyframes container-animation {
  0%,
  70% {
    gap: 60vh;
  }
}

.mail {
  animation: 3.5s mail-animation ease-in-out;
}

@keyframes mail-animation {
  0%,
  85% {
    opacity: 0;
  }
}
