.container {
  animation: scroll-animation linear;
  animation-timeline: scroll();
}

.arrow_container {
  animation: arrow-animation 0.75s infinite alternate ease-in-out;
}

@keyframes arrow-animation {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, 12px, 0);
  }
}

@keyframes scroll-animation {
  0% {
  }
  5% {
    opacity: 0;
    transform: translateY(-5rem) translateX(-50%);
  }
}
